/* Login.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #0d1a3d, #0a1130);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-box {
  background: linear-gradient(91.89deg, rgba(94, 181, 244, 0.18) 6%, rgba(23, 69, 79, 0.0504) 96.24%);

    color: white;
    padding: 40px;
    border-radius: 16px;
   
    width: 100%;
    max-width: 400px;
    border: #5760FF 1px solid;
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    margin-top: 0;
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #1f2a50;
    color: white;
    font-size: 16px;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
  }
  
  .forgot-password {
    margin-top: 8px;
    font-size: 14px;
    color: #58a6ff;
    cursor: pointer;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(277.48deg, rgba(0, 13, 31, 0.63) 16.27%, rgba(87, 96, 255, 0.63) 111.28%);
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  
  