/* styles/Topbar.css */
.topbar-container {
  width: 100vw;
  background: linear-gradient(to right, #0a0a23, #1a1a40);
  padding: 40px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1e90ff33;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.3);
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 50;
}

.topbar-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.sidebar-wrapper {
  position: relative;
}

.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
